@charset "UTF-8";
@layer Reset, Layout, Button, Visual, Form.InputCommon, Form.InputSearch, Component, Heading, Pages, Align, Space;
:root {
  --primary-900: #020A33;
  --primary-800: #0C1A66;
  --primary-700: #1D2F99;
  --primary-600: #354ACB;
  --primary-500: #556AEB;
  --primary-400: #6E82FE;
  --primary-300: #8FA0FF;
  --primary-200: #B9C4FF;
  --primary-100: #EBEFFF;
  --neutral-900: #212529;
  --neutral-800: #343A40;
  --neutral-700: #495057;
  --neutral-600: #6C757D;
  --neutral-500: #ADB5BD;
  --neutral-400: #CED4DA;
  --neutral-300: #DEE2E6;
  --neutral-200: #E9ECEF;
  --neutral-100: #F8F9FA;
  --white: #ffffff;
  --black: #000000;
  --in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --inout-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --inout-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --inout-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --inout-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --inout-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --inout-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --inout-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --inout-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@layer Reset {
  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard-Thin"), url("../asset/font/woff2-subset/Pretendard-Thin.subset.woff2") format("woff2"), url("../asset/font/woff-subset/Pretendard-Thin.subset.woff") format("woff"), url("../asset/font/otf/Pretendard-Thin.otf") format("opentype");
  }
  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard-ExtraLight"), url("../asset/font/woff2-subset/Pretendard-ExtraLight.subset.woff2") format("woff2"), url("../asset/font/woff-subset/Pretendard-ExtraLight.subset.woff") format("woff"), url("../asset/font/otf/Pretendard-ExtraLight.otf") format("opentype");
  }
  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard-Light"), url("../asset/font/woff2-subset/Pretendard-Light.subset.woff2") format("woff2"), url("../asset/font/woff-subset/Pretendard-Light.subset.woff") format("woff"), url("../asset/font/otf/Pretendard-Light.otf") format("opentype");
  }
  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard-Regular"), url("../asset/font/woff2-subset/Pretendard-Regular.subset.woff2") format("woff2"), url("../asset/font/woff-subset/Pretendard-Regular.subset.woff") format("woff"), url("../asset/font/otf/Pretendard-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard-Medium"), url("../asset/font/woff2-subset/Pretendard-Medium.subset.woff2") format("woff2"), url("../asset/font/woff-subset/Pretendard-Medium.subset.woff") format("woff"), url("../asset/font/otf/Pretendard-Medium.otf") format("opentype");
  }
  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard-SemiBold"), url("../asset/font/woff2-subset/Pretendard-SemiBold.subset.woff2") format("woff2"), url("../asset/font/woff-subset/Pretendard-SemiBold.subset.woff") format("woff"), url("../asset/font/otf/Pretendard-Thin.otf") format("opentype");
  }
  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard-Bold"), url("../asset/font/woff2-subset/Pretendard-Bold.subset.woff2") format("woff2"), url("../asset/font/woff-subset/Pretendard-Bold.subset.woff") format("woff"), url("../asset/font/otf/Pretendard-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard-ExtraBold"), url("../asset/font/woff2-subset/Pretendard-ExtraBold.subset.woff2") format("woff2"), url("../asset/font/woff-subset/Pretendard-ExtraBold.subset.woff") format("woff"), url("../asset/font/otf/Pretendard-ExtraBold.otf") format("opentype");
  }
  @font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard-Black"), url("../asset/font/woff2-subset/Pretendard-Black.subset.woff2") format("woff2"), url("../asset/font/woff-subset/Pretendard-Black.subset.woff") format("woff"), url("../asset/font/otf/Pretendard-Black.otf") format("opentype");
  }
  /* Reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  blockquote,
  pre,
  code,
  address,
  ul,
  ol,
  li,
  nav,
  section,
  article,
  header,
  footer,
  main,
  aside,
  dl,
  dt,
  dd,
  table,
  thead,
  tbody,
  tfoot,
  label,
  caption,
  th,
  td,
  form,
  fieldset,
  legend,
  hr,
  input,
  button,
  textarea,
  object,
  figure,
  figcaption {
    margin: 0;
    padding: 0;
    font-family: "Pretendard", sans-serif;
  }
  body,
  input,
  select,
  textarea,
  button,
  img,
  fieldset {
    border: none;
  }
  button {
    background: none;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
  }
  address,
  cite,
  code,
  em,
  i {
    font-style: normal;
    font-weight: normal;
  }
  label,
  img,
  input,
  select,
  textarea,
  button,
  a {
    vertical-align: middle;
  }
  u,
  ins,
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
  a {
    color: inherit;
  }
  /* Normalize */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number],
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email],
  input[type=tel],
  input[type=date],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input[type=date] {
    position: relative;
  }
  input[type=date]::-webkit-clear-button,
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  input[type=date] {
    position: relative;
    width: 100px;
  }
  input[type=date]::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  input[type=date]:valid::before {
    display: none;
  }
  select {
    appearance: none;
  }
  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
  }
  body {
    font-size: 1rem;
  }
  caption,
  legend,
  .a11y-hidden {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  @media print {
    .header,
    .footer,
    .visual {
      display: none;
    }
    .page-break {
      page-break-before: always;
    }
  }
  @page {
    margin: 1cm 2cm;
  }
  .print {
    display: block;
  }
  @media screen {
    .print {
      display: none;
    }
  }
}
@layer Button {
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    box-sizing: border-box;
  }
  .btn.primary {
    border-color: var(--primary-500);
    background-color: var(--primary-500);
    color: var(--white);
  }
  .btn.white {
    border-color: var(--neutral-600);
    background-color: var(--white);
    color: var(--neutral-600);
  }
  .btn.regular {
    height: 4rem;
    padding: 0 2rem;
    border-width: 0.1rem;
    border-style: solid;
    font-size: 1.4rem;
    border-radius: 1.2rem;
  }
  .btn.regular.radius {
    border-radius: 4rem;
  }
  .btn.large {
    height: 6rem;
    padding: 0 2rem;
    border-width: 0.1rem;
    border-style: solid;
    font-size: 1.6rem;
    border-radius: 0.6rem;
  }
  .btn.large.radius {
    border-radius: 6rem;
  }
  .btn.small {
    height: 3rem;
    padding: 0 1.2rem;
    border-width: 0.1rem;
    border-style: solid;
    font-size: 1.2rem;
    border-radius: 0.4rem;
  }
  .btn.small.radius {
    border-radius: 3rem;
  }
  .btn.xsmall {
    height: 2.8rem;
    padding: 0 1.2rem;
    border-width: 0.1rem;
    border-style: solid;
    font-size: 1.2rem;
  }
  .btn.xsmall.radius {
    border-radius: 2.8rem;
  }
  .btn.fullsize {
    width: 100%;
  }
  .main-header .header-btn-wrap {
    display: flex;
  }
  .main-header .header-btn-wrap button {
    width: 3.6rem;
    height: 3.6rem;
  }
  .main-header .header-btn-wrap button.btn-search {
    background: url(../asset/images/ico_main_header_01_24.svg) no-repeat center/2.4rem auto;
  }
  .main-header .header-btn-wrap button.btn-alarm {
    background: url(../asset/images/ico_main_header_02_24.svg) no-repeat center/2.4rem auto;
  }
  .main-header .header-btn-wrap button.btn-setting {
    background: url(../asset/images/ico_main_header_03_24.svg) no-repeat center/2.4rem auto;
  }
  .btn-arrow-style01 {
    width: 1.6rem;
    height: 1.6rem;
    background: url(../asset/images/ico_arrow_style01_16.svg) no-repeat 0 0/contain;
  }
  .filter-chip ul {
    padding: 0.8rem 1.6rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.4rem;
    overflow-x: auto;
  }
  .filter-chip ul li button {
    position: relative;
    padding: 0.4rem 0.8rem 0.4rem 3.4rem;
    color: var(--neutral-600);
    font-size: 1.4rem;
    font-weight: 400;
    white-space: nowrap;
    background-color: var(--white);
    border: 0.1rem solid var(--neutral-300);
    border-radius: 2.4rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem rgba(73, 80, 87, 0.1);
  }
  .filter-chip ul li button.--active {
    color: var(--primary-500);
    font-weight: 700;
    border: 0.1rem solid var(--primary-500);
  }
  .filter-chip ul li button.btn-chip::before {
    position: absolute;
    top: 0;
    left: 0.8rem;
    content: "";
    width: 2.4rem;
    height: 2.4rem;
  }
  .filter-chip ul li button.company::before {
    background: url(../asset/images/ico_company_24.svg) no-repeat center/2.4rem auto;
  }
  .filter-chip ul li button.labor::before {
    background: url(../asset/images/ico_labor_24.svg) no-repeat center/2.4rem auto;
  }
  .filter-chip ul li button.equipment::before {
    background: url(../asset/images/ico_equipment_24.svg) no-repeat center/2.4rem auto;
  }
  .filter-chip ul li button.materials::before {
    background: url(../asset/images/ico_materials_24.svg) no-repeat center/2.4rem auto;
  }
  .filter-chip ul li button.etc::before {
    background: url(../asset/images/ico_etc_24.svg) no-repeat center/2.4rem auto;
  }
  .btn-back::before {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    content: "";
    background: url(../asset/images/ico_back_24.svg) no-repeat center/2.4rem auto;
  }
  .btn-menu::before {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    content: "";
    background: url(../asset/images/ico_hamburger_24.svg) no-repeat center/2.4rem auto;
  }
}
@layer Heading {}
@layer Visual {}
@layer Form {
  @layer InputCommon {
    .input {
      width: var(--width, auto);
      box-sizing: border-box;
      border: 0.1rem solid var(--neutral-300);
      background-color: var(--white);
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--neutral-900);
    }
    .input::placeholder {
      color: var(--neutral-500);
      font-size: 1.4rem;
      font-weight: 300;
    }
    .input.h40 {
      padding: 0 1.6rem;
      height: 4rem;
      border-radius: 2.4rem;
    }
  }
  @layer InputSearch {
    .search-map input {
      width: 100%;
      border: none;
      border-radius: 0;
      line-height: 3;
    }
  }
}
@layer Component.Table {}
@layer Component.Tab {
  .tab-navigation {
    margin: 1.6rem 0;
    width: 100%;
    padding: 0.8rem 0;
    display: flex;
  }
  .tab-navigation input {
    overflow: hidden;
    position: absolute;
    border: none;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .tab-navigation input:checked + label {
    color: var(--primary-500);
    font-weight: 600;
  }
  .tab-navigation label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-400);
    font-size: 1.4rem;
    font-weight: 400;
  }
  .tab-navigation.first-depth {
    display: flex;
    gap: 1.6rem;
    border-bottom: 1px solid var(--neutral-200);
  }
  .tabs:has(.tab-navigation li:nth-child(1) input:checked) .tab-content:nth-of-type(1) {
    display: block;
  }
  .tabs:has(.tab-navigation li:nth-child(2) input:checked) .tab-content:nth-of-type(2) {
    display: block;
  }
  .tabs:has(.tab-navigation li:nth-child(3) input:checked) .tab-content:nth-of-type(3) {
    display: block;
  }
  .tabs:has(.tab-navigation li:nth-child(4) input:checked) .tab-content:nth-of-type(4) {
    display: block;
  }
  .tabs .tab-content {
    display: none;
    text-align: left;
  }
  .tabs .tab-content ul.bookmark {
    display: flex;
    flex-direction: column;
  }
  .tabs .tab-content ul.bookmark li {
    padding: 1.6rem 0;
    position: relative;
    width: 100%;
  }
  .tabs .tab-content ul.bookmark li + li {
    border-top: 0.1rem solid var(--neutral-200);
  }
  .tabs .tab-content ul.bookmark li::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    content: "";
    border-radius: 70%;
    background-color: var(--neutral-900);
  }
  .tabs .tab-content ul.bookmark li p {
    padding-left: 0.8rem;
    color: var(--neutral-600);
    font-size: 1.4rem;
  }
  .tabs .tab-inner-tab ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--neutral-100);
  }
  .tabs .tab-inner-tab ul li {
    padding: 0.8rem 0;
    margin-left: 0.8rem;
  }
}
@layer Component.Pagination {}
@layer Header.Gnb {}
@layer Layout.Heading {
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    background-color: #F4F6F8;
    transition: background-color 0.3s ease; /* 배경색 변경 시 부드러운 애니메이션 적용 */
  }
  .main-header .heading.logo {
    font-size: 2rem;
    font-weight: 700;
  }
  .map-header .search-map {
    padding: 0 1.6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: calc(100% - 3.2rem);
    box-sizing: border-box;
    border: 0.1rem solid var(--neutral-300);
    border-radius: 2.4rem;
    background-color: var(--white);
    box-shadow: 0.1rem 0.1rem 0.7rem 0.1rem rgba(73, 80, 87, 0.15);
  }
  .map-header .search-map input {
    box-shadow: none;
  }
}
@layer Layout.Footer {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  footer .footer-group {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 0.6rem 0;
    width: 100%;
    border-radius: 2.4rem 2.4rem 0 0;
    background-color: var(--white);
    box-shadow: 0px 19px 38px 0px rgba(0, 0, 0, 0.3), 0px 15px 12px 0px rgba(0, 0, 0, 0.22);
  }
  footer .footer-group button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
  }
  footer .footer-group button img {
    width: 2.4rem;
    height: 2.4rem;
  }
  footer .footer-group button p {
    color: var(--neutral-500);
    font-size: 1.1rem;
    font-weight: 600;
  }
  footer .footer-group button.--active p {
    color: var(--primary-500);
  }
}
@layer Layout.Base {
  body {
    background-color: #F4F6F8;
  }
}
@layer Layout.Align {}
@layer Layout.Space {}
@layer pages.Index {
  .main {
    padding: 0 1.6rem;
    margin-top: 3.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .main section:nth-of-type(1) .notice {
    display: flex;
    align-items: flex-start;
    height: 12rem;
    background: url(../asset/images/clay_main_person.png) no-repeat right top/14.5rem auto;
  }
  .main section:nth-of-type(1) .notice .btn-wrap {
    margin-top: 2.3rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  .main section:nth-of-type(1) .notice p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
  }
  .main section:nth-of-type(1) .btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 2.5rem;
    gap: 0.8rem 0.8rem;
    height: 11rem;
  }
  .main section:nth-of-type(1) .btn-group button {
    background: none;
  }
  .main section:nth-of-type(1) .btn-group button p, .main section:nth-of-type(1) .btn-group button span {
    word-break: keep-all;
  }
  .main section:nth-of-type(1) .btn-group .btn-contract, .main section:nth-of-type(1) .btn-group .btn-qr-confirm {
    background-color: var(--white);
    color: var(--neutral-900);
    font-weight: 500;
  }
  .main section:nth-of-type(1) .btn-group .btn-contract p, .main section:nth-of-type(1) .btn-group .btn-qr-confirm p {
    padding-top: 0.8rem;
  }
  .main section:nth-of-type(1) .btn-group .btn-contract, .main section:nth-of-type(1) .btn-group .btn-qr-confirm, .main section:nth-of-type(1) .btn-group .btn-my-qr {
    border-radius: 1.2rem;
  }
  .main section:nth-of-type(1) .btn-group .btn-confirm-list {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .main section:nth-of-type(1) .btn-group .btn-confirm-list p {
    color: var(--neutral-600);
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: underline;
  }
  .main section:nth-of-type(1) .btn-group .btn-my-qr {
    position: relative;
    grid-row: 1/3;
    grid-column: 3/4;
    background-color: var(--primary-500);
    color: var(--white);
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .main section:nth-of-type(1) .btn-group .btn-my-qr p {
    position: absolute;
    top: 1.4rem;
    left: 1.6rem;
    line-height: 1.3;
  }
  .main section:nth-of-type(1) .btn-group .btn-my-qr img {
    position: absolute;
    right: 1.6rem;
    bottom: 1.6rem;
  }
  .main section:nth-of-type(2) .btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5.6rem 14rem;
    gap: 1.6rem 0.8rem;
  }
  .main section:nth-of-type(2) .btn-group > button, .main section:nth-of-type(2) .btn-group > div {
    border-radius: 1.2rem;
  }
  .main section:nth-of-type(2) .btn-group .subscription-ticket, .main section:nth-of-type(2) .btn-group .mileage {
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
  }
  .main section:nth-of-type(2) .btn-group .subscription-ticket p:nth-of-type(1), .main section:nth-of-type(2) .btn-group .mileage p:nth-of-type(1) {
    color: var(--neutral-900);
    font-size: 1.6rem;
    font-weight: 500;
  }
  .main section:nth-of-type(2) .btn-group .mileage button {
    color: var(--primary-500);
    font-size: 1.6rem;
    font-weight: 500;
  }
  .main section:nth-of-type(2) .btn-group button img {
    width: 6.4rem;
    height: 6.4rem;
  }
  .main section:nth-of-type(2) .btn-group button.my-performance, .main section:nth-of-type(2) .btn-group button.map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }
  .main section:nth-of-type(2) .btn-group button.my-performance p:nth-of-type(1), .main section:nth-of-type(2) .btn-group button.map p:nth-of-type(1) {
    color: var(--neutral-600);
    font-size: 1.3rem;
    font-weight: 400;
  }
  .main section:nth-of-type(2) .btn-group button.my-performance p:nth-of-type(2), .main section:nth-of-type(2) .btn-group button.map p:nth-of-type(2) {
    color: var(--neutral-900);
    font-size: 1.6rem;
    font-weight: 600;
  }
  .main section:nth-of-type(2) .btn-group button.my-performance {
    background-color: #DCF1EF;
  }
  .main section:nth-of-type(2) .btn-group button.map {
    background-color: #FFE8E4;
  }
  .main section:nth-of-type(3) {
    width: 100%;
  }
  .main section:nth-of-type(3).ad-area button {
    width: 100%;
    height: 9.8rem;
    border-radius: 1.2rem;
    background-color: #EBF0FF;
  }
  .main section:nth-of-type(3).ad-area button p {
    color: var(--primary-200);
    font-size: 40px;
    font-weight: 500;
  }
  .main section:nth-of-type(4) .btn-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.6rem 0;
    padding: 1.6rem 0;
    border-radius: 1.2rem;
    background-color: var(--white);
  }
  .main section:nth-of-type(4) .btn-group button {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
  }
  .main section:nth-of-type(4) .btn-group button img {
    width: 2.4em;
    height: 2.4rem;
  }
  .main section:nth-of-type(4) .btn-group button p {
    color: var(--neutral-900);
    font-weight: 400;
    font-size: 1.2rem;
  }
  .main section:nth-of-type(5) ul {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 0.8rem;
  }
  .main section:nth-of-type(5) ul li {
    padding: 1.6rem 0;
    background-color: #E8EDF2;
    border-radius: 1.2rem;
    text-align: center;
  }
  .main section:nth-of-type(5) ul li p:nth-of-type(1) {
    padding-bottom: 0.4rem;
    color: var(--neutral-600);
    font-size: 1.6rem;
    font-weight: 300;
  }
  .main section:nth-of-type(5) ul li p.count {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .main section:nth-of-type(6) {
    padding-top: 2.4rem;
    padding-bottom: 10rem;
  }
  .main section:nth-of-type(6) > p {
    padding-bottom: 0.8rem;
  }
  .main section:nth-of-type(6) ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .main section:nth-of-type(6) ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    width: calc(100% - 3.2rem);
    height: 5.6rem;
    border-radius: 1.2rem;
    background-color: var(--white);
    font-size: 1.3rem;
    font-weight: 400;
  }
  .main section:nth-of-type(6) ul li p {
    width: 100%;
    padding-right: 1.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .main section .section-title {
    font-size: 2rem;
    font-weight: 600;
  }
}
@layer pages.Map {
  .map .map-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .map .map-mark-group {
    position: relative;
    width: calc(100% - 3.2rem);
    height: 45rem;
    box-sizing: border-box;
  }
  .map .map-mark-group .map-mark {
    position: absolute;
  }
  .map .map-mark-group .map-mark::before {
    content: "";
    display: inline-block;
    width: 3.2rem;
    height: 4.3rem;
  }
  .map .map-mark-group .map-mark.btn-company {
    bottom: 10rem;
    right: 10rem;
  }
  .map .map-mark-group .map-mark.btn-company::before {
    background: url(../asset/images/ico_company_32_43.svg) no-repeat center/3.2rem 4.3rem;
  }
  .map .map-mark-group .map-mark.btn-labor {
    bottom: 20rem;
    right: 20rem;
  }
  .map .map-mark-group .map-mark.btn-labor::before {
    width: 3.8rem;
    height: 3.8rem;
    background: url(../asset/images/ico_labor_38.svg) no-repeat center/3.8rem auto;
  }
  .map .map-mark-group .map-mark.btn-labor .count {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2rem;
    color: var(--neutral-900);
    font-size: 1.2rem;
    font-weight: 600;
  }
  .map .map-mark-group .map-mark.btn-equipment {
    bottom: 40rem;
    left: 10rem;
  }
  .map .map-mark-group .map-mark.btn-equipment::before {
    background: url(../asset/images/ico_equipment_32_43.svg) no-repeat center/3.2rem 4.3rem;
  }
  .map .map-mark-group .map-mark.btn-materials {
    bottom: 0;
    right: 0;
  }
  .map .map-mark-group .map-mark.btn-materials::before {
    background: url(../asset/images/ico_materials_32_43.svg) no-repeat center/3.2rem 4.3rem;
  }
  .map .map-mark-group .map-mark.btn-etc {
    top: 10rem;
    left: 20rem;
  }
  .map .map-mark-group .map-mark.btn-etc::before {
    background: url(../asset/images/ico_etc_32_43.svg) no-repeat center/3.2rem 4.3rem;
  }
}
@layer PopUp {
  .up-slide {
    color: #333;
    font-weight: 300;
    text-align: center;
    background: #333;
  }
  .up-slide .container > .btn {
    margin: 60px;
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 40px;
  }
  .up-slide .modal {
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    top: 100%;
    position: fixed;
    left: 0;
    text-align: left;
  }
  .up-slide .modal header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }
  .up-slide .modal .body {
    padding: 20px;
  }
  .up-slide .btn {
    background-color: var(--primary-500);
    padding: 10px 25px;
    display: inline-block;
    border-radius: 25px;
    margin: 20px 0;
    color: #fff;
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
  }
  .up-slide .btn:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  }
  .up-slide .container.modal-open .modal {
    top: 0;
  }
  .left-slide-header .nav {
    position: absolute;
    right: -120%;
    top: 0;
    z-index: 101;
    transition: right 0.7s;
    padding: 15px 24px 15px 22px;
    width: 80%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
  }
  .left-slide-header .nav.on {
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .left-slide-header .nav.on nav {
    padding: 0 0 24px;
    border-top: 1px solid var(--primary-500);
  }
  .left-slide-header .nav.on nav a {
    height: 40px;
    line-height: 40px;
    color: #111;
  }
  .left-slide-header .nav.on nav a:before {
    display: none;
  }
  .left-slide-header .nav.on nav li {
    float: none;
    border-bottom: 1px solid #eee;
  }
  .dim {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .btn-wrap {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 0.8rem;
  }
}
@layer pages.sub2 {}/*# sourceMappingURL=style.css.map */