@layer pages.Map {
    .map {
        .map-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
        }
        .map-mark-group {
            position: relative;
            width: calc(100% - 1.6rem * 2);
            height: 45rem;
            box-sizing: border-box;
            // border: 10px solid red;
            .map-mark {
                position: absolute;
                &::before {
                    content: "";
                    display:inline-block;
                    width: 3.2rem;
                    height: 4.3rem;
                }
                &.btn-company {
                    bottom: 10rem;
                    right: 10rem;
                    &::before {
                        background: url(../asset/images/ico_company_32_43.svg) no-repeat center / 3.2rem 4.3rem;
                    }
                }
                &.btn-labor {
                    bottom: 20rem;
                    right: 20rem;
                    &::before {
                        width: 3.8rem;
                        height: 3.8rem;
                        background: url(../asset/images/ico_labor_38.svg) no-repeat center / 3.8rem auto;
                    }
                    .count {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        padding-top: 2rem;
                        color: var(--neutral-900);
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
                &.btn-equipment {
                    bottom: 40rem;
                    left: 10rem;
                    &::before {
                        background: url(../asset/images/ico_equipment_32_43.svg) no-repeat center / 3.2rem 4.3rem;
                    }
                }
                &.btn-materials {
                    bottom: 0;
                    right: 0;
                    &::before {
                        background: url(../asset/images/ico_materials_32_43.svg) no-repeat center / 3.2rem 4.3rem;
                    }
                }
                &.btn-etc {
                    top: 10rem;
                    left: 20rem;
                    &::before {
                        background: url(../asset/images/ico_etc_32_43.svg) no-repeat center / 3.2rem 4.3rem;
                    }
                }
            }
        }
    }

    /* 2024-03-29 KEJ */
    .scroll-lock {
        overflow: hidden;
    }
    .pop-toast {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: auto;
        right: 0;
        bottom: -100%;
        left: 0;
        z-index: 100;
        border-radius: 2rem 2rem 0 0;
        background-color: #fff;
        box-shadow: 0 0.2rem 1rem 0 rgba(0,0,0,.1);
        transition: bottom 500ms ease-in-out;
        &.open-modal {
            bottom: 0;
        }
        .pop-header {
            text-align: right;
            padding-top: 1.6rem;
        }
        .pop-footer {
            padding: 1.6rem0;
            border-top: 1px solid #666;
            text-align: center;
        }
        .pop-con {
            padding: 20px 0 0;
            overflow: hidden auto;
        }
        .pop-close {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 2.6rem;
            padding: 0 1.6rem;
            border: 1px solid #666;
            border-radius: 0.8rem;
            font-size: 1.4rem;
        }
    }
    .equipment-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 2rem;
        padding: 1.6rem;
        border-bottom: 1px solid #666;
        .info-area {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 10rem;
        }
        .tit {
            font-size: 1.8rem;
            font-weight: 700;
            color: #000;
        }
        .img-area .img {
            display: block;
            width: 10rem;
            height: 10rem;
            background-color: #f5f5f5;
        }
    }
    .company-notice {
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        overflow: auto hidden;
        .company-con {
            width: 18rem;
            padding: 0.8rem;
            background-color: #f1f7ff;
            border-radius: 1rem;
        }
        .company-profile {
            padding: 2rem;
            line-height: 1.4;
        }
    }
    .pop-img {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        width: 100%;
        height: 100vh;
        padding: 2rem 4rem;
        background-color: rgba(0,0,0,.8);
        box-sizing: border-box;
        &.open {
            display: flex;
        }
        .layer-inner {
            width: 100%;
            max-height: 100%;
            border-radius: 1.2rem;
            background-color: var(--white);
            overflow: hidden;
        }
    }
    .pop-header {
        padding:0 1.6rem;
        display:flex;
        justify-content: space-between;
    }

}