@layer pages.Map {
    .map {
        .map-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
        }
        .map-mark-group {
            position: relative;
            width: calc(100% - 1.6rem * 2);
            height: 45rem;
            box-sizing: border-box;
            // border: 10px solid red;
            .map-mark {
                position: absolute;
                &::before {
                    content: "";
                    display:inline-block;
                    width: 3.2rem;
                    height: 4.3rem;
                }
                &.btn-company {
                    bottom: 10rem;
                    right: 10rem;
                    &::before {
                        background: url(../asset/images/ico_company_32_43.svg) no-repeat center / 3.2rem 4.3rem;
                    }
                }
                &.btn-labor {
                    bottom: 20rem;
                    right: 20rem;
                    &::before {
                        width: 3.8rem;
                        height: 3.8rem;
                        background: url(../asset/images/ico_labor_38.svg) no-repeat center / 3.8rem auto;
                    }
                    .count {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        padding-top: 2rem;
                        color: var(--neutral-900);
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
                &.btn-labor-company {
                    bottom: 6rem;
                    left: 20rem;
                    &::before {
                        background: url(../asset/images/ico_labor_company_32_43.svg) no-repeat center / 3.2rem 4.3rem;
                    }
                }
                &.btn-equipment {
                    bottom: 40rem;
                    left: 10rem;
                    &::before {
                        background: url(../asset/images/ico_equipment_32_43.svg) no-repeat center / 3.2rem 4.3rem;
                    }
                }
                &.btn-materials {
                    bottom: 0;
                    right: 0;
                    &::before {
                        background: url(../asset/images/ico_materials_32_43.svg) no-repeat center / 3.2rem 4.3rem;
                    }
                }
                &.btn-etc {
                    top: 10rem;
                    left: 20rem;
                    &::before {
                        background: url(../asset/images/ico_etc_32_43.svg) no-repeat center / 3.2rem 4.3rem;
                    }
                }
            }
        }
    }

    /* 2024-03-29 KEJ */
    .scroll-lock {
        overflow: hidden;
    }
    .pop-toast {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: auto;
        right: 0;
        bottom: -100%;
        left: 0;
        z-index: 100;
        border-radius: 2rem 2rem 0 0;
        background-color: #fff;
        box-shadow: 0 0.2rem 1rem 0 rgba(0,0,0,.1);
        transition: bottom 500ms ease-in-out;
        &.open-modal {
            bottom: 0;
        }
        .pop-header {
            padding: 0.8rem 1.6rem 0.8rem 1.6rem;
            display: grid;
            grid-template-columns: 2.4rem 1fr 2.4rem;
            .bookmark {
                grid-row: 1 / -4;
                grid-column: 1/ 2;
            }
            .handle {
                margin: 0 auto;
                grid-row: 1 / -4;
                grid-column: 2 / 3;
            }
            .close {
                grid-row: 1 / -4;
                grid-column: 3 / 4;
            }
        }
        .pop-footer {
            padding: 0 1.6rem 0.8rem 1.6rem;
            // border-top: 1px solid #666;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .pop-con {
            overflow: hidden auto;

        }
        .pop-close {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 2.6rem;
            padding: 0 1.6rem;
            border: 1px solid #666;
            border-radius: 0.8rem;
            font-size: 1.4rem;
        }
    }
    .equipment-info {
        padding: 0 1.6rem 0.8rem 1.6rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .info-area {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.4rem;
            height: 10rem;
            .tit {
                font-size: 1.6rem;
                font-weight: 700;
                color: var(--neutral-900);
                .subject-classification {
                    margin-left: 0.4rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                    color: var(--neutral-500)
                }
            }
            .content {
                p {
                    color: var(--neutral-900);
                    font-size: 1.3rem;
                    font-weight: 300;
                    // &:nth-of-type(1) {
                    //     padding-bottom: 0.4rem;
                    //     font-size: 1.3rem;
                    //     font-weight: 500;
                    // }
                    
                    .phone.member {
                        color: var(--primary-700);
                        font-weight: 500;
                        text-decoration: underline;
                    }
                }
                .info-address-wrap {
                    display: flex;
                    .info-address {
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }
                    .more-text {
                        margin-left: 0.4rem;
                    }
                }
            }
            
        }
        .img-area {
            position: relative;
            width: 10rem;
            height: 10rem;
            &::before {
                position: absolute;
                bottom: 0.4rem;
                right: 0.4rem;
                display: inline-block;
                width: 2.4rem;
                height: 2.4rem;
                content: "";
                background: url(../asset/images/ico_img_more_32.svg) no-repeat center / 2.4rem auto;
            }
            .test-img, .img {
                display: block;
                width: 10rem;
                height: 10rem;
                background-color: #f5f5f5;
                object-fit: cover;
                border-radius: 0.8rem;
            }
        }
    }
    .company-notification {
        padding: 0.8rem 0;
        display: flex;
        flex-wrap: nowrap;
        gap: 0.6rem;
        overflow: auto hidden;
        .company-con {
            width: 18rem;
            padding: 0.8rem;
            background-color: #f8f9ff;
            border-radius: 0.8rem;
            border: 1px solid var(--primary-100);
            .content-text {
                padding-top: 0.4rem;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-height: 1.2;
            }
        }
    }
    .company-profile, .labor-profile {
        display:flex;
        flex-direction: column;
        gap: 0.8rem;
        max-height: 22rem;
        overflow-y: auto;
        // padding: 2rem;
        box-shadow: 0px 20px 50px 50px rgb(255, 255, 255);
        ul {
            line-height: 1.4;
            color: var(--neutral-700);
            font-size: 1.4rem;
            + ul {
                padding-top: 0.8rem;
                border-top: 1px solid var(--neutral-200)
            }
            .company-word {
                font-weight: 600;
            }
            li {
                span {
                    color: var(--neutral-600);
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.3;
                }
            }
            &.company-info-detail {
                padding-top: 1.2rem;
            
            }
        }
    }
    .pop-img {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        width: 100%;
        height: 100vh;
        padding: 2rem 4rem;
        background-color: rgba(0,0,0,.8);
        box-sizing: border-box;
        &.open {
            display: flex;
        }
        .layer-inner {
            width: 100%;
            max-height: 100%;
            border-radius: 1.2rem;
            background-color: var(--white);
            overflow: hidden;
        }
    }
    .pop-hide-content {
        .content-wrap {
            padding: 0 1.6rem;
        }
    }
    .popup-btn-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        > span {
            padding: 0 1.6rem;
            font-size: 1.3rem;
            font-weight: 400;
            color: var(--neutral-600);
            white-space: nowrap;
        }
        }
    .arrow-left, .arrow-right {
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
        &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            content: "";
        }
    }
    .arrow-left {
        &::before {
            left:0;
            background: url(../asset/images/ico_arrow_left_32.svg) no-repeat center;
            background-size: 2.4rem auto;
        }
        &.--16 {
            width: 1.6rem;
            height: 1.6rem;
            &::before {
                width: 1.6rem;
                height: 1.6rem;
                background-size: 1.6rem auto;
            }
        }
    }
    .arrow-right {
        &::before {
            right:0;
            background: url(../asset/images/ico_arrow_right_32.svg) no-repeat center;
            background-size: 2.4rem auto;
        }
        &.--16 {
            width: 1.6rem;
            height: 1.6rem;
            &::before {
                width: 1.6rem;
                height: 1.6rem;
                background-size: 1.6rem auto;
            }
        }
    }

    ul.popup-labor-list {
        padding: 0 1.6rem;
        li {
            padding: 0.2rem 0;
            display:flex;
            justify-content: space-between;
            align-items: center;
            .labor {
                &-name {
                }
                &-job {
                    font-weight: 300;
                }
                &-distance {
                    margin-left: 0.8rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }
            
        }
    }
}