@layer Mypage {
    body:has(.mypage) {
        background-color: #F4F6F8;
    }
    .mypage {
        padding-top: 3.6rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        section {
            padding-left: 1.6rem;
            padding-right: 1.6rem;
            &:first-child {
                margin-top: 1.2rem;
                .toggle-wrap {
                    gap: 0.8rem;
                    font-size: 1.2rem;
                    color: var(--neutral-600);
                }
            }
            + section {
                padding-top: 1.6rem;
                &.profile-section {
                    padding-top: 0;
                }
            }
            > h4 {
                padding-bottom: 1.6rem;
            }
        }
        section.profile-section {
            .div-wrap:first-child {
                gap: 1.6rem;
                .my-info {
                    ul {
                        li {
                            height: 2rem;
                            color: var(--neutral-600);
                            font-size: 1.4rem;
                            font-weight: 400;
                        }
                    }
                }
                .p-wrap {
                    p {
                        color: var(--neutral-900);
                        &:first-child {
                            display: flex;
                            align-items: center;
                            gap: 0.8rem;
                            font-size: 2rem;
                            font-weight: 700;
                        }
                        &:last-child {
                            padding-top: 0.8rem;
                            color: var(--neutral-600);
                            font-size: 1.4rem;
                            font-weight: 400;
                        }
                        button.login {
                            padding: 0.4rem 0.8rem;
                            border: 0.1rem solid var(--neutral-600);
                            border-radius: 1.4rem;
                        }
                    }
                }
                
            }
            .div-wrap:last-child {
                margin-top: 0.8rem;
                padding: 1.6rem;
                gap: 0.8rem;
                display: grid;
                grid-template-columns: 1fr 2rem 1fr;
                grid-template-rows: 1fr;
                align-items: center;
                text-align: center;
                background-color: #EAEDF0;
                // border: 0.1rem solid var(--primary-300);
                border-radius: 1.2rem;
                .subscribe, .mileage {
                    font-size: 1.6rem;
                    color: var(--neutral-600);
                }
                .subscribe {
                    // padding: 0.4rem 0.8rem;
                    border-radius: 1.6rem;
                    // border: 0.1rem solid var(--primary-500);
                }
                .line {
                    margin: 0 auto;
                    width: 0.2rem;
                    height: 2rem;
                    background-color: var(--neutral-400);
                }
                .mileage {
                   gap: 0.4rem;
                }
            }
        }
        section {
            .div-wrap {
                .text-box-wrap {
                    padding: 1.6rem;
                    border-radius: 1.2rem;
                        background-color: var(--white);
                    .text-box {
                        max-height: 18rem;
                        overflow-y: auto;
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 2rem;
                        color: var(--neutral-600);
                        text-align: left;
                        
                        
                    }
                }
                .badge {
                    & + .badge {
                        margin-left: 0.4rem;
                    }
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: var(--neutral-600);
                    padding: 0.4rem 0.8rem;
                    border: 0.1rem solid var(--neutral-400);
                    border-radius: 1.6rem;
                    background-color: var(--white);
                }
            }
        }
    }
    .div-wrap {
        > p {
            .non-members & {
                color: var(--neutral-500);
                font-size: 1.4rem;
                text-align: center;
            }
        }
    }
    section.promotional-photo {
        padding-right:0;
        overflow: hidden;
        .div-wrap {
            display: grid;
            grid-auto-rows: 1fr;
            overflow-x: auto;
            .img-wrap {
                display: flex;
                gap: 0.8rem;
                .img {
                    width: 10rem;
                    height: 10rem;
                    overflow: hidden;
                    border-radius: 1.2rem;
                    &.plus {
                        background-color: var(--neutral-200);
                        border: 0.1rem dotted var(--neutral-300);
                        img {
                            width: 2.4rem;
                            height: 2.4rem;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .affiliated-company {
        padding-bottom: 4rem;
        .div-wrap{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 10rem;
            gap: 0.8rem;

            .img-wrap {
                .img {
                    width:auto;
                    height: 10rem;
                    overflow: hidden;
                    border-radius: 1.2rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // aspect-ratio: 1/1;
                    }
                }
                p {
                    padding: 0.8rem 0.4rem;
                    font-size: 1.4rem;
                    text-align: center;
                }
            }
        }
    }
    .mypage-etc {
        ul {
            li {
                height: 4rem;
            }
            li, p {
                color: var(--neutral-600);
                font-size: 1.5rem;
                font-weight: 400;
                &.logout {
                    margin-top: 4rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    p, button {
                        color: var(--neutral-500);
                        font-size: 1.4rem;
                        font-weight: 500;
                        text-align: center;
                    }
                }
            }
        }
        .version {
            font-size: 1.4rem;
            color: var(--neutral-500);
        }
    }
    .mypage-terms {
        padding: 0 1.6rem;
        section {
            padding-top:1.6rem;
            div {
                p {
                    color: var(--neutral-900);
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.6;
                }
            }
        }
    }
    .registered-businesses {
            padding: 1.2rem;
            border-radius: 1.2rem;
            font-size: 1.4rem;
            color: var(--neutral-600);
            font-weight: 300;
            background-color: var(--neutral-200);
    }
    .my-subscribe {
        .subscribe {
            margin-top: 0.8rem;
            padding: 1.2rem;
            border-radius: 1.2rem;
            font-size: 1.2rem;
            color: var(--neutral-600);
            font-weight: 300;
            background-color: var(--neutral-200);
        }
    }
    .business-list-wrap {
        gap: 0.8rem;
        .div-title {
            gap: 0.4rem;
        }
        
        ul.business-list {
            li {
                height: 4rem;
                color: var(--neutral-600);
                font-size: 1.5rem;
                font-weight: 400;
                line-height:  2.7;
                a {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .sub-txt {
        font-size: 1.3rem;
        color: var(--neutral-500);
    }
    .enterprise-edit-business {
        .top-manager-wrap {
            padding: 0.4rem 1.6rem;
            font-size: 1.4rem;
            color: var(--neutral-600);
            background-color: var(--neutral-100);
        }
    }
}