@layer Pages.registration {
    .registration {
        // padding: 0 1.6rem 10rem 1.6rem;
        // padding-left:1.6rem;
        // padding-right: 1.6rem;
        padding-bottom: 10rem;
        // width: calc(100% - (1.6rem * 2));
        // height: calc(100vh - (4rem + 5.6rem + 1.6rem));
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        section {
            &.first-section {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                margin-top: 2.4rem;
            }
        }
        .input-group {
            // padding-left: 1.6rem;
            // padding-right: 1.6rem;
            display:flex;
            flex-direction: column;
            gap: 0.8rem;
            .input-group-inner & {
                gap: 0.4rem;
                // 이거 왜 적용안되지
            }
        }
        ul.input-group-inner {
            padding-left: 1.6rem;
            margin-top: 0.8rem;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }
        .inner-list {
            padding-left: 1.2rem;
                .input-wrap {
                    p {
                        position: relative;
                        margin-bottom: 0.8rem;
                        &::before {
                            @include position(absolute, -1rem, 50%, 0);
                            
                            width: rem(4);
                            height: rem(4);
                            content: '';
                            border-radius: 70%;
                            background-color: var(--neutral-900);
                        }
                    }
                }
        }
        .add-settitle {
            position: relative;
            margin-bottom: 0.8rem;
            &::before {
                @include position(absolute, -1rem, 50%, 0);
                width: rem(4);
                height: rem(4);
                content: '';
                border-radius: 70%;
                background-color: var(--neutral-900);
            }
        }
        .add-list {
            padding: 0.8rem;
            margin-top: 0.8rem;
            background-color: var(--neutral-100);
            .add-settitle {
                margin-bottom: 0.8rem;
            }
    }
        .added-list {

        }
    }
    .list-btn-wrap {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.8rem;
    }
    .delete {
        img {
            width: 1.6rem;
            height: auto;
        }
    }
    .status-bar-wrap {
        width: 100%;
        height: 0.3rem;
        .status-bar {
            width: var(--width);
            height: 100%;
            background: var(--primary-500);
        }
        .count-wrap {
            .count {
                font-size: 1.3rem;
                font-weight: 400;
                color: var(--neutral-500);
            }
        }
    }
    
}