@layer Pages.registration {
    .registration {
        padding-bottom: 10rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        section {
            &.first-section {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                margin-top: 2.4rem;
            }
        }
        .input-group {
            display:flex;
            flex-direction: column;
            gap: 1.6rem;
            .input-group-inner & {
                gap: 0.4rem;
                // 이거 왜 적용안되지
            }
        }
        ul.input-group-inner {
            padding-left: 1.6rem;
            margin-top: 0.8rem;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }
        .inner-list {
            padding-left: 1.2rem;
                .input-wrap {
                    p {
                        position: relative;
                        margin-bottom: 0.8rem;
                        &::before {
                            @include position(absolute, -1rem, 50%, 0);
                            width: rem(4);
                            height: rem(4);
                            content: '';
                            border-radius: 70%;
                            background-color: var(--neutral-900);
                        }
                    }
                }
        }
        .add-settitle {
            position: relative;
            margin-bottom: 0.8rem;
            &::before {
                @include position(absolute, -1rem, 50%, 0);
                width: rem(4);
                height: rem(4);
                content: '';
                border-radius: 70%;
                background-color: var(--neutral-900);
            }
        }
        .add-list {
            padding: 0.8rem;
            margin-top: 0.8rem;
            background-color: var(--neutral-100);
            .add-settitle {
                margin-bottom: 0.8rem;
            }
        }
    }
    .list-btn-wrap {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.8rem;
    }
    .delete {
        img {
            width: 1.6rem;
            height: auto;
        }
    }
    .company-notice {
        .delete {
            // width: calc(50% - 0.8rem);
        }
    }
    .status-bar-wrap {
        width: 100%;
        height: 0.3rem;
        .status-bar {
            width: var(--width);
            height: 100%;
            background: var(--primary-500);
        }
        .count-wrap {
            .count {
                font-size: 1.3rem;
                font-weight: 400;
                color: var(--neutral-500);
            }
        }
    }
    .div-wrap {
        .plus {
            background-color: var(--neutral-200);
            border: 0.1rem dotted var(--neutral-300);
            img {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
        .img-wrap {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 8rem 8rem;
            gap: 0.8rem;
            .img {
                overflow: hidden;
                border-radius: 1.2rem;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &.no-img {
                    border: 0.1rem dotted var(--neutral-500);
                    background-color: var(--neutral-100);
                }
            }
        }
    }
    .photo-added {
        position:relative;
        &::before {
            position:absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            display: inline-block;
            width: 4.8rem;
            height: 4.8rem;
            content: '';
            background: url(../asset/images/ico_delete_circle_48.svg) no-repeat center;
            background-size: 4.8rem auto;
        }
    }
}