@layer registration {
    .registration {
        padding: 0 1.6rem 10rem 1.6rem;
        // height: calc(100vh - (4rem + 5.6rem + 1.6rem));
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        section {
            &.first-section {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                margin-top: 2.4rem;
            }
        }
        .input-group {
            display:flex;
            flex-direction: column;
            gap: 0.8rem;
            .input-group-inner & {
                gap: 0.4rem;
                // 이거 왜 적용안되지
            }
            &:has(.address) {
                .title-wrap {
                    a {
                        color: var(--neutral-600);
                        font-size: 1.2rem;
                        font-weight: 300;
                        text-decoration: underline;
                    }
                }
            }
        }
        ul.input-group-inner {
            padding-left: 1.6rem;
            margin-top: 0.8rem;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }
    }
    .list-btn-wrap {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.8rem;
    }
    .delete {
        img {
            width: 1.6rem;
            height: auto;
        }
    }
    .status-bar-wrap {
        width: 100%;
        height: 0.3rem;
        .status-bar {
            width: var(--width);
            height: 100%;
            background: var(--primary-500);
        }
        .count-wrap {
            .count {
                font-size: 1.3rem;
                font-weight: 400;
                color: var(--neutral-500);
            }
        }
    }
}