@layer Components.Terms {
    .terms {
        padding: 0 1.6rem;
        section {
            padding-top:1.6rem;
            div {
                p {
                    color: var(--neutral-900);
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.6;
                }
            }
        }
    }
}