@layer Layout.Align {
    
    .align {
        display: flex;
    }
    .align.both {
        justify-content: space-between;
    }
    .align.right {
        justify-content: flex-end;
    }
    .align.center {
        justify-content:center;
    }
    .align.vt {
        align-items: flex-start;
    }
    .align.vm {
        align-items: center;
    }
    .align.vb {
        align-items: flex-end;
    }

    .align-column {
        display: flex;
        flex-direction: column;
    }
    .gap-8 {
        gap: 0.8rem;
    }
    .gap-16 {
        gap: 1.6rem;
    }
    .gap-32 {
        gap: 3.2rem;
    }
    .txt-center{ 
        text-align: center;
    }
    .txt-right{ 
        text-align: right;
    }
    .txt-left{ 
        text-align: left;
    }
    
}
