@layer Layout.Base {
    
    // header, main, footer {
    //     width: 100%;
    // }
    .hide {
        opacity: 0;
    }
    .text-plus {
        font-size: 2rem;
        padding-bottom: 0.4rem;
    }
    h4 {
        &.title {
            color: var(--neutral-700);
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    h5 {
        &.title {
            color: var(--neutral-600);
            font-size: 1.3rem;
            font-weight: 600;
        }  
    }
    .content-text {
        color: var(--neutral-600);
        font-size: 1.3rem;
        font-weight: 400;
    }
    .text-until-3line {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .handle {
        width: 3rem;
        height: 0.3rem;
        background: var(--neutral-300);
        border-radius: 0.3rem;
    }
    .more-text {
        position: relative;
        display: flex;
        .textbox {
            position:absolute;
            top:-3rem;
            left: -7rem;
            z-index: 10;
            padding: 0.4rem 0.8rem;
            display:none;
            color: var(--neutral-600);
            font-size: 1.3rem;
            font-weight: 400;
            white-space:nowrap;
            border: 1px solid var(--neutral-300);
            border-radius: 0.4rem;
            background-color: var(--white);
        }
    }

    section {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        &:first-child {
            margin-top: 1.2rem;
        }
    }
    .input-group {
        display:flex;
        flex-direction: column;
        gap: 0.8rem;
        .input-group-inner & {
            gap: 0.4rem;
            // 이거 왜 적용안되지
        }
        .input-title {
            padding-bottom: 0.8rem;
        }
    }
    ul.input-group-inner {
        padding-left: 1.6rem;
        margin-top: 0.8rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    main {
        padding-top: 2.4rem;
        padding-bottom: 5.6rem;
        display:flex;
        flex-direction: column;
        gap: 4rem;
        section {
            padding: 0 1.6rem;
            display:flex;
            flex-direction: column;
            gap: 1.6rem;
            .input-group {
                .input-title {
                    padding-bottom: 0.8rem;
                }
            }
        }
    }
}
