@layer Layout.Base {
    
    // header, main, footer {
    //     width: 100%;
    // }
    .hide {
        opacity: 0;
    }
    .align {
        display: flex;
    }
    .align.both {
        justify-content: space-between;
    }
    .align.right {
        justify-content: flex-end;
    }
    .align.center {
        justify-content:center;
    }
    .align.vt {
        align-items: flex-start;
    }
    .align.vm {
        align-items: center;
    }
    .align.vb {
        align-items: flex-end;
    }
    .txt-center{ text-align: center;}
    .txt-right{ text-align: right;}
    .txt-left{ text-align: left;}
    .input-title {
        color: var(--neutral-700);
        font-size: 1.4rem;
        font-weight: 400;
        .input-group-inner & {
            color: var(--neutral-600);
            font-size: 1.3rem;
        }
    }
    .mt-24 {
        margin-top: 2.4rem;
    }
    .mt-8 {
        margin-top: 0.8rem;
    }
    .mr-8 {
        margin-right: 0.8rem;
    }
    .mb-8 {
        margin-bottom: 0.8rem;
    }
    .text-plus {
        font-size: 2rem;
        padding-bottom: 0.4rem;
    }
    h4 {
        &.title {
            color: var(--neutral-700);
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    h5 {
        &.title {
            color: var(--neutral-600);
            font-size: 1.3rem;
            font-weight: 600;
        }  
    }
    .content-text {
        color: var(--neutral-600);
        font-size: 1.3rem;
        font-weight: 400;
    }
    .text-until-3line {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .handle {
        width: 3rem;
        height: 0.3rem;
        background: var(--neutral-300);
        border-radius: 0.3rem;
    }
    .more-text {
        position: relative;
        #textbox {
            position:absolute;
            top:-3rem;
            left: -7rem;
            z-index: 10;
            padding: 0.4rem 0.8rem;
            display:none;
            color: var(--neutral-600);
            font-size: 1.3rem;
            font-weight: 400;
            white-space:nowrap;
            border: 1px solid var(--neutral-600);
            border-radius: 0.4rem;
            background-color: var(--white);
        }
    }
}
