// @import "../components/Logo";
@import "../components/Gnb";

@layer Layout.Header {
    .header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        //setting아이콘에 이미 여백이 있으니 그 여백을 뺀 나머지 0.7
        // border:1px solid red;
        .heading.logo {
            font-size: 2rem;
            font-weight: 700;
        }
    }
}
