// @import "../components/Logo";
@import "../components/Gnb";

@layer Layout.Header {
    .main-header {
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 1000;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        background-color: #F4F6F8;
        transition: background-color 0.3s ease; /* 배경색 변경 시 부드러운 애니메이션 적용 */
        // border:1px solid red;
        .heading.logo {
            font-size: 2rem;
            font-weight: 700;
        }
    }
    .map-header {
        .search-map {
            padding: 0 1.6rem;
            margin: 0 auto;
            display:flex;
            align-items: center;
            width: calc(100% - 1.6rem * 2);
            box-sizing: border-box;
            border: 0.1rem solid var(--neutral-300);
            border-radius: 2.4rem;
            background-color: var(--white);
            box-shadow: 0.1rem 0.1rem 0.7rem 0.1rem rgba(73, 80, 87, 0.15) ;
            input {
                box-shadow: none;
            }
        }
    }
    .sub-header {
        display: grid;
        grid-template-columns: 3.2rem 1fr 3.2rem;
        align-items: center;
        padding: 0 1.6rem;
        width: calc(100% - 1.6rem * 2);
        height: 4rem;
        // border:1px solid red;
        > :nth-child(1) {
            grid-row: 1 / -4;
            grid-column: 1/ 2;
        }
        > :nth-child(2) {
            margin: 0 auto;
            grid-row: 1 / -4;
            grid-column: 2 / 3;
        }
        > :nth-child(3) {
            grid-row: 1 / -4;
            grid-column: 3 / 4;
        }
        p {
            color: var(--neutral-900);
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
}
