// @import "../components/Logo";
@import "../components/Gnb";

@layer Layout.Heading {
    .main-header {
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index: 1000;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        background-color: #F4F6F8;
        transition: background-color 0.3s ease; /* 배경색 변경 시 부드러운 애니메이션 적용 */
        // border:1px solid red;
        .heading.logo {
            font-size: 2rem;
            font-weight: 700;
        }
    }
    .map-header {
        .search-map {
            padding: 0 1.6rem;
            margin: 0 auto;
            display:flex;
            align-items: center;
            width: calc(100% - 1.6rem * 2);
            box-sizing: border-box;
            border: 0.1rem solid var(--neutral-300);
            border-radius: 2.4rem;
            background-color: var(--white);
        }
    }
    
}
