@layer Layout.Space {

    @layer Common {

        .mt-24 {
            margin-top: 2.4rem;
        }
        .mt-8 {
            margin-top: 0.8rem;
        }
        .mr-8 {
            margin-right: 0.8rem;
        }
        .mb-8 {
            margin-bottom: 0.8rem;
        }
        .area-bar {
            border:none;
            width: 100%; 
            &.h10 {
                background-color: var(--neutral-100);
                .mypage & {
                    background-color: var(--neutral-200);
                }
                margin: 0.8rem 0;
                height: 1rem;
            }
            &.h5 {
                background-color: var(--neutral-100);
                margin: 0.8rem 0;
                height: 0.5rem;
                
            }
            &.h2 {
                background-color: var(--neutral-400);
                margin: 0.8rem 0;
                height: 0.2rem;
            }
            &.h1 {
                background-color: var(--neutral-300);
                height: 0.1rem;
                // input border 와 같은색
            }
        }

        .gap {
            &-8 {
                gap: 0.8rem;
            }
            &-16 {
                gap: 1.6rem;
            }
        }

       
    }
    @layer exception {
        // .exception-pd {
        //     padding: 0;
        // }
    }
}
