@layer Layout.Space {

    @layer Common {

        .mt-24 {
            margin-top: 2.4rem;
        }
        .mt-16 {
            margin-top: 1.6rem;
        }
        .mt-8 {
            margin-top: 0.8rem;
        }
        .mr-8 {
            margin-right: 0.8rem;
        }
        .mb-8 {
            margin-bottom: 0.8rem;
        }
        .pl-16 {
            padding-left: 1.6rem;
        }
        .pl-8 {
            padding-left: 0.8rem;
        }
        .pr-16 {
            padding-right: 1.6rem;
        }
        .pl-0 {
            padding-left: 0;
        }
        .pr-0 {
            padding-right: 0;
        }
        .w100 {
            width: 100%;
        }
        //section에 pl-0, pr-0할 땐 w100같이써야함. 
        //width: calc(100% - (1.6rem * 2)); 이거 해놔서.
        .pb-0 {
            padding-bottom: 0;
        }
        .area-bar {
            border:none;
            width: 100%; 
            &.h10 {
                background-color: var(--neutral-100);
                .mypage & {
                    background-color: var(--neutral-200);
                }
                margin: 0.8rem 0;
                height: 1rem;
            }
            &.h5 {
                background-color: var(--neutral-100);
                margin: 0.8rem 0;
                height: 0.5rem;
                
            }
            &.h2 {
                background-color: var(--neutral-400);
                margin: 0.8rem 0;
                height: 0.2rem;
            }
            &.h1 {
                background-color: var(--neutral-300);
                height: 0.1rem;
                // input border 와 같은색
            }
        }

        .gap {
            &-8 {
                gap: 0.8rem;
            }
            &-16 {
                gap: 1.6rem;
            }
        }

       
    }
    @layer exception {
        // .exception-pd {
        //     padding: 0;
        // }
    }
}
