@layer Accordion {
    details.accordion {
        .accordion {
            &-subject {
                display:flex;
                justify-content: space-between;
            }
            &-content {
            }
        }
        &.style1 {

        }
    }
    summary.accordion-subject {
        color: var(--neutral-700);
        font-size: 1.4rem;
        font-weight: 400;
    }
    .arrow {
        transition: transform 0.3s;
        transform: rotate(0deg);
        width: 2.4rem;
        height: 2.4rem;
        background: url(../asset/images/ico_arrow_down_black_24.svg) no-repeat center / 2.4rem auto;

    }

    details[open] .arrow {
        transform: rotate(180deg);
    }
    summary {
        list-style-type: none;
        &::marker {
            display: none;
            list-style: none;
            padding-left: 1em;
        }
    }
}