@layer Button {
    .main-header {
        .header-btn-wrap {
            display: flex;
            button {
                width: 3.6rem;
                height: 3.6rem;
                // border: 1px solid red;
                &.btn-search {
                    background: url(../asset/images/ico_main_header_01_24.svg) no-repeat center / 2.4rem auto;
                }
                &.btn-alarm {
                    background: url(../asset/images/ico_main_header_02_24.svg) no-repeat center / 2.4rem auto;
                }
                &.btn-setting {
                    background: url(../asset/images/ico_main_header_03_24.svg) no-repeat center / 2.4rem auto;
                }
            }
        }
    }
    
    .btn-arrow-style01 {
        width: 1.6rem;
        height: 1.6rem;
        background: url(../asset/images/ico_arrow_style01_16.svg) no-repeat 0 0 / contain;
    }
    // .btn-group {
    //     .btn-contract, .btn-qr-confirm, .btn-my-qr {
            
    //     }
    //     .btn-contract {
    //         background: url(../asset/images/ico_main_group01_01_28.svg) no-repeat center / 2.8rem auto;
    //     }
    //     .btn-qr-confirm {
    //         background: url(../asset/images/ico_main_group01_02_28.svg) no-repeat  center / 2.8rem auto;
    //     }
    //     .btn-my-qr {
    //         background: url(../asset/images/ico_main_group01_03_28.svg) no-repeat 0 0 / contain var(--primary-500);
    //     }
    // }

    
    .filter-chip {
        ul {
            padding: 0.8rem 1.6rem;
            display: flex;
            flex-wrap: nowrap;
            gap: 0.4rem;
            overflow-x: auto;
            li {
                button {
                    position: relative;
                    padding: 0.4rem 0.8rem 0.4rem 3.4rem;
                    color: var(--neutral-600);
                    font-size: 1.4rem;
                    font-weight: 400;
                    white-space: nowrap;
                    background-color: var(--white);
                    border: 0.1rem solid var(--neutral-300);
                    border-radius: 2.4rem;
                    &.--active {
                        color: var(--primary-500);
                        font-weight: 700;
                        border: 0.1rem solid var(--primary-500);
                    }
                    &.btn-chip {
                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0.8rem;
                            content: "";
                            width: 2.4rem;
                            height: 2.4rem;
                            background-color: var(--neutral-600);
                            // background: url(../images/ico_login.svg) no-repeat 0 0 / contain;
                        }

                    }
                }
            }
        }
    }
}
