@layer Button {
    .main-header {
        .header-btn-wrap {
            display: flex;
            button {
                width: 3.6rem;
                height: 3.6rem;
                // border: 1px solid red;
                &.btn-search {
                    background: url(../asset/images/ico_main_header_01_24.svg) no-repeat center / 2.4rem auto;
                }
                &.btn-alarm {
                    background: url(../asset/images/ico_main_header_02_24.svg) no-repeat center / 2.4rem auto;
                }
                &.btn-setting {
                    background: url(../asset/images/ico_main_header_03_24.svg) no-repeat center / 2.4rem auto;
                }
            }
        }
    }
    
    .btn-arrow-style01 {
        width: 1.6rem;
        height: 1.6rem;
        background: url(../asset/images/ico_arrow_style01_16.svg) no-repeat 0 0 / contain;
    }
    // .btn-group {
    //     .btn-contract, .btn-qr-confirm, .btn-my-qr {
            
    //     }
    //     .btn-contract {
    //         background: url(../asset/images/ico_main_group01_01_28.svg) no-repeat center / 2.8rem auto;
    //     }
    //     .btn-qr-confirm {
    //         background: url(../asset/images/ico_main_group01_02_28.svg) no-repeat  center / 2.8rem auto;
    //     }
    //     .btn-my-qr {
    //         background: url(../asset/images/ico_main_group01_03_28.svg) no-repeat 0 0 / contain var(--primary-500);
    //     }
    // }
}
