@layer Form {

    @layer InputCommon {

        .input {
            width: var(--width, auto);
            box-sizing: border-box;
            border: 0.1rem solid var(--neutral-300);
            background-color: var(--white);
            font-size: 1.4rem;
            font-weight: 400;
            color: var(--neutral-900);
            &::placeholder {
                color: var(--neutral-500);
                font-size: 1.4rem;
                font-weight: 300;
            }
            &.h40 {
                //높이에 따라 좌우 padding, border-radius 달라짐
                padding: 0 1.6rem;
                height: 4rem;
                border-radius: 2.4rem;
            }
        }
    }

    @layer InputSearch {
        .search-map {
            // --width: calc(100% - 1.6rem * 2);
            input {
                width: 100%;
                // margin: 0 1.6rem;
                border: none;
                border-radius: 0;
                line-height: 3;
            }
        }
    }

    @layer CheckBox {
    .checkbox {
        + label {
            display: inline-flex;
            align-items: center;
            gap: 0.4rem;
            color: var(--gray4b);
            font-size: 1.2rem;
            line-height: 100%;
            letter-spacing: -0.05rem;
            &::before {
            content: "";
            width: 1.6rem;
            height: 1.6rem;
            background: url(../../asset/images/checkbox_off.svg) no-repeat 0 0 / contain;
            }
        }
        &:checked {
            + label {
            &::before {
                background: url(../../asset/images/checkbox_on.svg) no-repeat 0 0 / contain;
            }
            }
        }
        }
    }
    @layer Radio {
    .radio {
        + label {
            display: inline-flex;
            align-items: center;
            gap: 0.4rem;
            color: var(--gray4b);
            font-size: 1.2rem;
            line-height: 100%;
            letter-spacing: -0.05rem;
            &::before {
            content: "";
            width: 2.4rem;
            height: 2.4rem;
            background: url(../images/radio_off.svg) no-repeat 0 0 / contain;
            }
        }
        &:checked {
            + label {
            &::before {
                background: url(../images/radio_on.svg) no-repeat 0 0 / contain;
            }
            }
        }
        }
    }

}
