@layer Components.List {
    .line-list{
        border: 1px solid var(--neutral-300);
        border-radius: 1.2rem;
        li {
            display: grid;
            grid-template-columns: 3.2rem 1fr 6rem 8rem 6rem;
            align-items: center;
            height: 4rem;
            
            + li {
                margin-top: -0.1rem;
                border-top: 1px solid var(--neutral-300);
            }
            label {
                font-size: 1.4rem !important;
            }
        }
        img {
            width: auto;
            height: 2.2rem;
        }
        .list-subject {
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .list-item {
            color: var(--neutral-600);
            font-size: 1.2rem;
            font-weight: 400;
            text-align: center;
            line-height: 100%;
            letter-spacing: -0.05rem;
            &.list-posting {
                &.on {
                    color: var(--primary-500);
                    font-weight: 600;
                }
                &.off {
                    color: var(--neutral-500);
                }
            }
        }
    }
}