@layer Reset {
  
  @font-face{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:local('Pretendard-Thin'),
    url('../asset/font/woff2-subset/Pretendard-Thin.subset.woff2') format('woff2'), 
    url('../asset/font/woff-subset/Pretendard-Thin.subset.woff') format('woff'),
    url('../asset/font/otf/Pretendard-Thin.otf') format('opentype');
  }
  
  @font-face{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:local('Pretendard-ExtraLight'),
    url('../asset/font/woff2-subset/Pretendard-ExtraLight.subset.woff2') format('woff2'), 
	  url('../asset/font/woff-subset/Pretendard-ExtraLight.subset.woff') format('woff'),
    url('../asset/font/otf/Pretendard-ExtraLight.otf') format('opentype');
  }
  
  @font-face{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:local('Pretendard-Light'),
    url('../asset/font/woff2-subset/Pretendard-Light.subset.woff2') format('woff2'), 
	  url('../asset/font/woff-subset/Pretendard-Light.subset.woff') format('woff'),
    url('../asset/font/otf/Pretendard-Light.otf') format('opentype');
  }
  
  @font-face{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:local('Pretendard-Regular'),
    url('../asset/font/woff2-subset/Pretendard-Regular.subset.woff2') format('woff2'), 
	  url('../asset/font/woff-subset/Pretendard-Regular.subset.woff') format('woff'),
    url('../asset/font/otf/Pretendard-Regular.otf') format('opentype');
  }
  
  @font-face{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:local('Pretendard-Medium'),
    url('../asset/font/woff2-subset/Pretendard-Medium.subset.woff2') format('woff2'), 
	  url('../asset/font/woff-subset/Pretendard-Medium.subset.woff') format('woff'),
    url('../asset/font/otf/Pretendard-Medium.otf') format('opentype');
  }
  @font-face{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:local('Pretendard-SemiBold'),
    url('../asset/font/woff2-subset/Pretendard-SemiBold.subset.woff2') format('woff2'), 
	  url('../asset/font/woff-subset/Pretendard-SemiBold.subset.woff') format('woff'),
    url('../asset/font/otf/Pretendard-Thin.otf') format('opentype');
  }
  @font-face{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:local('Pretendard-Bold'),
    url('../asset/font/woff2-subset/Pretendard-Bold.subset.woff2') format('woff2'), 
	  url('../asset/font/woff-subset/Pretendard-Bold.subset.woff') format('woff'),
    url('../asset/font/otf/Pretendard-Bold.otf') format('opentype');
  }
  @font-face{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:local('Pretendard-ExtraBold'),
    url('../asset/font/woff2-subset/Pretendard-ExtraBold.subset.woff2') format('woff2'), 
    url('../asset/font/woff-subset/Pretendard-ExtraBold.subset.woff') format('woff'),
    url('../asset/font/otf/Pretendard-ExtraBold.otf') format('opentype');

  }
  @font-face{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:local('Pretendard-Black'),
    url('../asset/font/woff2-subset/Pretendard-Black.subset.woff2') format('woff2'), 
	  url('../asset/font/woff-subset/Pretendard-Black.subset.woff') format('woff'),
    url('../asset/font/otf/Pretendard-Black.otf') format('opentype');
  }





  /* Reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  blockquote,
  pre,
  code,
  address,
  ul,
  ol,
  li,
  nav,
  section,
  article,
  header,
  footer,
  main,
  aside,
  dl,
  dt,
  dd,
  table,
  thead,
  tbody,
  tfoot,
  label,
  caption,
  th,
  td,
  form,
  fieldset,
  legend,
  hr,
  input,
  button,
  textarea,
  object,
  figure,
  figcaption {
    margin: 0;
    padding: 0;
    font-family: "Pretendard", sans-serif;
  }

  body,
  input,
  select,
  textarea,
  button,
  img,
  fieldset {
    border: none;
  }
  button {
    background: none;
  }
  ul,
  ol,
  li {
    list-style: none;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
  }

  address,
  cite,
  code,
  em,
  i {
    font-style: normal;
    font-weight: normal;
  }

  label,
  img,
  input,
  select,
  textarea,
  button,
  a {
    vertical-align: middle;
  }

  u,
  ins,
  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  a {
    color: inherit;
  }

  /* Normalize */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"],
  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  input[type="date"] {
    position: relative;
  }

  input[type="date"]::-webkit-clear-button,
  input[type="date"]::-webkit-inner-spin-button {
    display: none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  input[type="date"] {
    position: relative;
    width: 100px;
  }

  input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
  }

  input[type="date"]:valid::before {
    display: none;
  }

  select {
    appearance: none;
  }

  html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    // @media screen and (width < 900px) {
    //   font-size: calc(62.5% / 2);
    // }
  }

  body {
    font-size: 1rem;
  }

  caption,
  legend,
  .a11y-hidden {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }

  @media print {
    .header,
    .footer,
    .visual {
      display: none;
    }
    .page-break {
      page-break-before: always;
    }
  }
  @page {
    margin: 1cm 2cm;
  }
  .print {
    display: block;
  }
  @media screen {
    .print {
      display: none;
    }
  }
}
