@layer Components.Tag {
    .tag {
        padding: 0.4rem 0.6rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--primary-500);
        background-color: var(--white);
        border: 0.1rem solid var(--primary-200);
        border-radius: 1.2rem;
    }
}