<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/style.css" />
    <title>회사소개 수정</title>
</head>
<body>
    <header class="sub-header">
        <button class="btn-back" aria-label="뒤로가기"></button>
        <p>회사소개 수정</p>
        <p class="hide"></p>
    </header>
    <main class="registration edit-company-about-us">

        <section>
            <h2 class="title">회사에 대해 알려주세요.</h2>
            <div class="input-group">
                <div class="input-wrap">
                    <div class="title-wrap align both">
                        <p class="input-title">회사주소</p>
                        <div class="radio-wrap">
                            <span class="txt-right mr-8">
                                <input type="radio" name="radio1" id="radio1" class="a11y-hidden radio">
                                <label for="radio1">공개</label>
                            </span>
                            <span class="txt-right">
                                <input type="radio" name="radio1" id="radio2" class="a11y-hidden radio">
                                <label for="radio2">비공개</label>
                            </span>
                        </div>
                    </div>
                    <input type="text" class="input h40" placeholder="건설로 1109 건설단지 8층" />
                </div>
                <div class="input-wrap">
                    <div class="title-wrap align both">
                        <p class="input-title">회사 전화번호</p>
                        <div class="radio-wrap">
                            <span class="txt-right mr-8">
                                <input type="radio" name="radio1" id="radio1" class="a11y-hidden radio">
                                <label for="radio1">공개</label>
                            </span>
                            <span class="txt-right">
                                <input type="radio" name="radio1" id="radio2" class="a11y-hidden radio">
                                <label for="radio2">비공개</label>
                            </span>
                        </div>
                    </div>
                    <input type="text" class="input h40" placeholder="021234567" />
                </div>
                <div class="input-wrap opening-hours-group">
                    <div class="title-wrap align both">
                        <p class="input-title">영업시간</p>
                        <div class="radio-wrap">
                            <span class="txt-right mr-8">
                                <input type="radio" name="radio1" id="radio1" class="a11y-hidden radio">
                                <label for="radio1">공개</label>
                            </span>
                            <span class="txt-right">
                                <input type="radio" name="radio1" id="radio2" class="a11y-hidden radio">
                                <label for="radio2">비공개</label>
                            </span>
                        </div>
                    </div>
                    <div class="opening-hours-group">
                        <ul class="bar-type3">
                            <li>
                                <select class="select" name="regStartDtTime" id="regStartDtTime">
                                    <option>선택하세요</option>
                                </select>
                            </li>
                            <li>
                                <select class="select" name="regEndDtTime" id="regEndDtTime" >
                                    <option>선택하세요</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="title-wrap align both">
                        <p class="input-title">휴무일</p>
                        <div class="radio-wrap">
                            <span class="txt-right mr-8">
                                <input type="radio" name="radio1" id="radio1" class="a11y-hidden radio">
                                <label for="radio1">공개</label>
                            </span>
                            <span class="txt-right">
                                <input type="radio" name="radio1" id="radio2" class="a11y-hidden radio">
                                <label for="radio2">비공개</label>
                            </span>
                        </div>
                    </div>
                    <input type="text" class="input h40" placeholder="토, 일, 국가공휴일" />
                </div>
                <div class="input-wrap">
                    <div class="title-wrap align both">
                        <p class="input-title">홈페이지 주소</p>
                        <div class="radio-wrap">
                            <span class="txt-right mr-8">
                                <input type="radio" name="radio1" id="radio1" class="a11y-hidden radio">
                                <label for="radio1">공개</label>
                            </span>
                            <span class="txt-right">
                                <input type="radio" name="radio1" id="radio2" class="a11y-hidden radio">
                                <label for="radio2">비공개</label>
                            </span>
                        </div>
                    </div>
                    <input type="text" class="input h40" placeholder="www.aabb.co.kr" />
                </div>
                <div class="input-wrap align-column notice-group">
                    <div class="title-wrap align both">
                        <p class="input-title">회사 홍보 - 제목 </p>
                        <div class="radio-wrap">
                            <span class="txt-right mr-8">
                                <input type="radio" name="radio1" id="radio1" class="a11y-hidden radio">
                                <label for="radio1">공개</label>
                            </span>
                            <span class="txt-right">
                                <input type="radio" name="radio1" id="radio2" class="a11y-hidden radio">
                                <label for="radio2">비공개</label>
                            </span>
                        </div>
                    </div>
                    <input type="text" class="input h40" placeholder="홍보 타이틀 입력" />
                    <p class="input-txt-under txt-right">1/20</p>
                    <p class="input-title">회사 홍보 - 내용</p>
                    <textarea class="textarea" name="" id="" cols="30" rows="5"></textarea>
                    <p class="input-txt-under txt-right">1/200</p>
                    
                </div>
            </div>
        </section>
        
        <hr class="area-bar h10 " />
        <section>
            <div class="input-group">
                <div class="input-wrap">
                    <p class="input-title">SNS</p>
                    <ul class="sns-write-wrap align-column gap-8">
                        <li>
                            <div>
                                <input type="checkbox" name="chk" id="chk-sns" class="a11y-hidden checkbox">
                                <label for="chk-sns"></label>
                            </div>
                            <div>
                                <select class="select">
                                    <option>선택하세요</option>
                                    <option>유튜브</option>
                                    <option>인스타그램</option>
                                    <option>네이버 블로그</option>
                                    <option>직접입력</option>
                                </select>
                            </div>
                            <div><input type="text" class="input h40" placeholder="URL을 입력해주세요." /></div>
                        </li>

                        <!-- <li>
                            select-직접입력 선택시 생김
                            <div class="direct-input"><input type="text" class="input h40" placeholder="직접입력" /></div>
                            <div><input type="text" class="input h40" placeholder="URL을 입력해주세요." /></div>
                        </li> -->
                    </ul>
                    <div class="btn-wrap mt-24 align gap-8">
                        <button class="btn white radius small fullsize delete align vm">
                            선택 삭제하기
                            <img src="../asset/images/ico_delete_24.svg" alt="">
                        </button>  
                        <button class="btn primary radius small fullsize">SNS 추가 <img class="circle-plus" src="../asset/images/ico_plus_circle_24.svg" alt=""></button>
                  
                    </div>
                </div>
            </div>
        </section>
        <section class="btn-wrap">
            <a href="javascript:;" class="btn --active regular fullsize">저장</a>
        </section>
    </main>
    <footer>
        <div class="footer-group">
            <button>
                <img src="../asset/images/ico_footer_01_24_line.svg" alt="">
                <p>홈</p>
            </button>
            <button>
                <img src="../asset/images/ico_footer_02_24_line.svg" alt="">
                <p>요청</p>
            </button>
            <button>
                <img src="../asset/images/ico_footer_03_24_line.svg" alt="">
                <p>승인</p>
            </button>
            <button>
                <img src="../asset/images/ico_footer_04_24_line.svg" alt="">
                <p>문서관리</p>
            </button>
            <button class="--active">
                <img src="../asset/images/ico_footer_05_24_filled.svg" alt="">
                <p>마이건설</p>
            </button>
        </div>
    </footer>
    <script>
        /* 시간 SELECTBOX 값 만들기  */
        // gnRegStartDtTime 값을 가져오기
        var gnRegStartDtTimeValue = '<%= gnRegStartDtTime %>';  // DB에서 가져온 시작시간 데이터
        var gnRegEndDtTimeValue = '<%= gnRegEndDtTime %>';		// DB에서 가져온 마감시간 데이터
        
        // select 요소 참조
        var regStartDtSelect = document.getElementById("regStartDtTime");
        var regEndDtTimeSelect = document.getElementById("regEndDtTime");
        
        // 시간을 30분 단위로 생성
        for (var hour = 0; hour <= 23; hour++) {
            for (var minute = 0; minute < 60; minute += 30) {
                var option = document.createElement("option");
                var formattedHour = (hour < 10 ? "0" : "") + hour;
                var formattedMinute = (minute === 0 ? "00" : "30");
                option.value = formattedHour + ":" + formattedMinute;
                option.text = formattedHour + ":" + formattedMinute;
                
                // 옵션은 다시 사용할 수 없어서 복제 옵션 생성
                // 복제된 옵션을 생성하여 regEndDtTimeSelect에 추가
                var optionClone = option.cloneNode(true);
        
                regStartDtSelect.appendChild(option);
                regEndDtTimeSelect.appendChild(optionClone);
            }
        }
        </script>
</body>
</html>