// @mixin 믹스인명(매개변수){

// }
@mixin mobile {
  // @media screen and (width < 900px) {
  //   @content;
  // }
}
@mixin bar($method, $width, $height, $margin, $background) {
  // $method가 선표현방식이라면 그렇게 갈것이고, 이미지 표현방식이라면 ~~
  display: flex;
  > * {
      // > * 부모 기준으로 모든 자신선택자. p, div, span 상관없음
      display: flex;
      align-items: center;
      //모든 자식들은 flex가 된다. before content는 블록요소로 바뀌게됨
      + * {
          //형제선택자를 잡는다.
          &::before {
              content: '';
              width: $width;
              height: $height;
              margin: 0 $margin;
              @if $method == 'line' or $method == '1' {
                  background-color: $background;
              } @else if $method == 'image' or $method == 'img' or $method == 'i' {
                  @include background($background, null, null, contain);
              }
          }
      }
  }
}

@mixin position($value, $x, $y, $z: 1) {
    @if $value == "a" or $value == "absolute" {
      position: absolute;
    } @else if $value == "f" or $value == "fixed" {
      position: fixed;
    }
  
    // position: $value;
    left: $x;
    top: $y;
    z-index: var(--zindex, $z);
  
    @if $x == 50% and $y == 50% {
      transform: translate(-50%, -50%);
    } @else if $x == 50% {
      transform: translateX(-50%);
    } @else if $y == 50% {
      transform: translateY(-50%);
    }
  }
  